.wrap {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.list {
	display: flex;
	max-width: 600px;
	width: 100%;
	justify-content: space-between;
	padding: 30px 30px 0 30px;
	border-radius: 15px;
	background: $color-gray-950;
}
