{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/screens/(.*)$",
		"^@/layout/(.*)$",
		"^@/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/configs/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
