.popular {
	display: block;
}

/* .loader {
	display: block;

	&__link {
		display: block;
		&:first-child {
			height: 30px;
			margin-bottom: 30px;
		}

		&:nth-child(3) {
			height: 90px;
			margin-bottom: 15px;
		}

		&:last-child {
			height: 90px;
		}
	}
	br {
		display: none;
	}
} */
