@import './other/normalize.css';
@import 'react-redux-toastr/src/styles/index';

input[type='file'],
input[type='file']::-webkit-file-upload-button {
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

input {
	&:focus {
		box-shadow: none;
	}
}

body,
html {
	font-family: $main-font;
	background: $color-gray-900;
}
